/* japanese indigo: #2B4141;
dark vanilla: #CACAAA;
pale gold: #EEC584;
pastel pink: #E0AC9D;
pale silver: #C8C2AE; */



.main-body {

    margin-top: 8vh;

}

.outer

{

/* width:100%;

text-align: center; */

}



.inner

{

display: inline-block;

}



.left-column {

    margin-top: 3vh;

}



.weapons {

    margin-top: 3vh;

}

textarea {
    overflow-y: scroll;
    height: 700px;
    
}

.armor-class {
    font-size: 14px;
}

.be-sure {
    font-size: 9px;
    font-style: italic;
}

#tiefling-pic {
    max-height: 60vh;
}


.armor-stats {
    font-size: 14px;
}

@media only screen and (max-width: 768px) {

    .armor-stats {
        font-size: 12px;
    }

}

body {
    background-color: #2B4141;
    color: #C8C2AE;
}

.dropdown-toggle {
    background-color: #EEC584;
    color: #2B4141;
}

.dropdown-toggle:hover {
    background-color: #E0AC9D;
}

a {
    text-decoration: none;
    color: #E0AC9D;
}

a:hover {
    color: #EEC584;
}

