.main-body {

    margin-top: 8vh;

}



.outer

{

width:100%;

text-align: center;

}



.inner

{

display: inline-block;

}



.left-column {

    margin-top: 3vh;

}



.weapons {

    margin-top: 3vh;

}

textarea {
    overflow-y: scroll;
    height: 700px;
    
}

.armor-class {
    font-size: 14px;
}

.be-sure {
    font-size: 9px;
    font-style: italic;
}

#tiefling-pic {
    max-height: 60vh;
}


@media only screen and (max-width: 768px) {

    .armor-stats {
        font-size: 10px;
    }

}